@{
    ViewBag.PageContent = "ขั้นตอนการสมัคร";
}
<div class="row">
    <br />
    <br />
    <div class="span9">
        <div class="column2">
            <img src="~/Images/reg_step.png" />
            @*<h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(51, 51, 51);">
                <strong style="color: inherit; font-family: inherit; font-size: 24.5px;">พระพรหมมังคลาจารย์&nbsp;
                </strong>
                <br />
                <strong>ผู้ช่วยเจ้าอาวาสวัดไตรมิตรวิทยารามวรวิหาร<br />
                    ประธานมูลนิธิร่มฉัตร</strong></h3>
            <p>
                <img alt="" src="/Images/10.jpg" style="width: 236px; height: 299px; border-width: 0px;
                    border-style: solid; margin: 10px; float: left;" /></p>
            <h3>
                <br />
                <span style="font-size: 14px; color: Black;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; มูลนิธิร่มฉัตรจัดตั้งขึ้น&nbsp;
                    โดยมีวัตถุประสงค์เพื่อสนับสนุนส่งเสริมในด้านการศึกษาแก่เยาวชนไทยทุกสังกัดทั่วประเทศ&nbsp;
                    &nbsp;โครงการเพชรยอดมงกุฎเป็นโครงการหนึ่งที่มูลนิธิร่มฉัตรสนับสนุนทุนการศึกษาและงบประมาณดำเนินงานตั้งแต่ปี&nbsp;
                    &nbsp;2541&nbsp; &nbsp;จนถึงปัจจุบัน&nbsp; &nbsp;เป็นโครงการที่โรงเรียนทุกสังกัดทั่วประเทศ
                    ครู นักเรียน&nbsp; &nbsp;รู้จักและกล่าวขานถึงทุกปี&nbsp; &nbsp;ต้องขอยกย่อง&nbsp;
                    &nbsp;ดร.อุบล เล่นวารี&nbsp; &nbsp;อดีตที่ปรึกษาระดับ 10&nbsp; &nbsp;สำนักงานคณะกรรมการการศึกษาขั้นพื้นฐาน&nbsp;
                    &nbsp;ผู้คิดริเริ่มโครงการดีๆ&nbsp; &nbsp;เช่นนี้สำหรับเยาวชนไทย มูลนิธิร่มฉัตรจึงให้การอุปถัมภ์มาโดยตลอด&nbsp;
                    &nbsp;โดยมี&nbsp; &nbsp;สมเด็จพระธีรญาณมุนี&nbsp; &nbsp;เจ้าอาวาสวัดเทพศิรินทราวาส
                    และพระราชวิจิตรปฏิภาณ&nbsp; &nbsp;ผู้ช่วยเจ้าอาวาสวัดสุทัศนเทพวรารามได้สนับสนุนและอุปถัมภ์โครงการเพชรยอดมงกุฎด้วย
                    โครงการเพชรยอดมงกุฎจัดการแข่งขันต่อเนื่องทุกปี&nbsp; &nbsp;และมีความก้าวหน้ามาตามลำดับ
                    ปัจจุบันโครงการเพชรยอดมงกุฎมีการแข่งขัน 13&nbsp;&nbsp;วิชา&nbsp; &nbsp;ได้แก่&nbsp;
                    &nbsp;คณิตศาสตร์&nbsp; &nbsp;วิทยาศาสตร์ภาษาไทย&nbsp; &nbsp;พระพุทธศาสนา&nbsp; &nbsp;ภาษาจีน&nbsp;
                    &nbsp;ภาษาญี่ปุ่น&nbsp; &nbsp;ภาษาอังกฤษ ประวัติศาสตร์&nbsp; &nbsp;เศรษฐศาสตร์&nbsp;
                    &nbsp;ประติมากรรม&nbsp; &nbsp;เคมี&nbsp; &nbsp;ฟิสิกส์&nbsp; &nbsp;และชีววิทยา&nbsp;
                    &nbsp;การแข่งขันภาษาจีนเพชรยอดมงกุฎ ถือว่าได้เดินทางมาเป็นเวลา&nbsp; &nbsp;11&nbsp;
                    &nbsp;ปี&nbsp; &nbsp;โดยปีที่ผ่านมาได้รับเกียรติจากรัฐมนตรีว่าการกระทรวงศึกษาธิการ
                    มาดูงานโดยได้เห็นผลงานและให้คำแนะนำที่ควรจะพัฒนาการเรียนการศึกษาภาษาจีนสืบต่อไป
                    กระทั่งถึงการพัฒนาการเรียนการศึกษาภาษาต่างประเทศทั้งหมด&nbsp; &nbsp;ต้องขอขอบคุณ&nbsp;
                    &nbsp;ท่านรัฐมนตรีว่าการกระทรวงศึกษาธิการ ที่ได้ให้คำแนะซึ่งจะเป็นประโยชน์แก่คณะกรรมการเพชรยอดมงกุฎ&nbsp;
                    &nbsp;เพื่อจะนำไปปรับปรุงให้มีประสิทธิ์ภาพสอดคล้องกับการเรียนการศึกษาของกระทรวงศึกษาธิการ
                    ขออานิสงส์ที่ทุกท่านมีส่วนร่วมดำเนินงานโครงการเพชรยอดมงกุฎ&nbsp; &nbsp;ซึ่งทำคุณประโยชน์ต่อการศึกษาของชาติ
                    จงมีอายุ&nbsp; &nbsp;วรรณะ&nbsp; &nbsp;สุขะ&nbsp; &nbsp;พละ&nbsp; &nbsp;และประสบแต่ความสุข&nbsp;
                    &nbsp;ความเจริญยิ่งๆ&nbsp; &nbsp;ไป </span>
                <p>
                    <span style="font-size: 14px; color: Black;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ขออานิสงส์ที่ทุกท่านมีส่วนร่วมดำเนินงานโครงการเพชรยอดมงกุฎ&nbsp;
                        ซึ่งทำคุณประโยชน์ต่อการศึกษาของชาติ&nbsp; จงมีอายุ&nbsp; วรรณะ&nbsp; สุขะ&nbsp;
                        พละ&nbsp; และประสบแต่ความสุข&nbsp; ความเจริญยิ่งๆ ไป </span>
                </p>
            </h3>
            <p>
                &nbsp;</p>*@
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

        });
    </script>
}
