@{
    ViewBag.Title = "Complete";
}
<br />
<br />
<h2>
    <img src="~/Images/msg-ok.gif" width="23px" height="23px" alt="" />
    @Html.Label("แก้ไขข้อมูลเรียบร้อยแล้ว")|@Html.ActionLink("กลับสู่หน้าหลัก", "Index", "Home")
</h2>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
