@{
    ViewBag.Title = "ReportRemark";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div style="text-align: center">
    <h3 style="color: Red">
        ผู้สมัครสามารถพิมพ์ใบยืนยันได้ในวันที่ 9 สิงหาคม 2557
    </h3>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
