@{
    ViewBag.Title = "ReportRemark";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div style="text-align: center">
    <h3 style="color: Red">
        แข่งขันและประกาศผลการแข่งขัน ในวันอาทิตย์ที่ 24 สิงหาคม พ.ศ. 2557 ณ มหาวิทยาลัยธุรกิจบัณฑิตย์
    </h3>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
